@page "/login"
@using LibraryApplication.Data
@using LibraryApplication.Services
@using LibraryApplication.Data.Models
@using Microsoft.EntityFrameworkCore

<div class="login-container">
    <h2>Login</h2>
    <EditForm Model="@loginModel" OnValidSubmit="@HandleValidSubmit" class="login-form">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="email">Email:</label>
        <InputText id="email" class="form-control" @bind-Value="loginModel.Email" />
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <InputText id="password" type="password" class="form-control" @bind-Value="loginModel.Password" />
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
    <div class="form-group">
        <a href="/register" class="register-link">Create new account</a>
    </div>
</EditForm>
</div>


<style>
        .login-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #FFFFFF;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        border-radius: 10px;
      }
        
          .login-form button{
        background-color: #007BFF;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: bold;
        border-radius: 5px;
        height: 40px;
        border: none;
        width: 100%;
        margin-top: 10px;
      }
</style>

@code {
    Login loginModel = new Login();

    [Inject]
    private LibraryDbContext dbContext { get; set; }

    [Inject]
    private NavigationManager navigationManager { get; set; }

    [Inject]
    AuthService AuthService { get; set; }

    private async Task HandleValidSubmit()
    {

        var user = await dbContext.Users.FirstOrDefaultAsync(u => u.Email == loginModel.Email && u.Password == loginModel.Password);

        if(user != null)
        {
            AuthService.Login();
            navigationManager.NavigateTo("/");
            
        }
        else
        {
            //Show error message

            loginModel.Email = "";
            loginModel.Password = "";
        }
    }
}


