@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Web;



<PageTitle>LibraryApplication</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            @*<button class="btn btn-primary ml-2" @onclick="LogIn">@name</button>*@
@*            <a href=login>Login</a>*@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{

    [Inject] NavigationManager NavigationManager { get; set; }
    string name = "LogIn";
    public void LogIn()
    {

            NavigationManager.NavigateTo("login");
            name = "LogOut";

    }
    
}

